@page
@model IndexModel
@{
    ViewData["Title"] = "K4SVirtual Home Page";
    
    // Get the user's name for display
    string displayName = Model.UserDisplayName ?? User.Identity.Name;
}

<div class="text-center">
  <h1 class="display-4" style="font-size: 40px;"> Welcome @displayName </h1>
</div>
<section id="picture">
    <div class="container">
        <img src="~/k4simg.jpeg" class="center">
    </div>
</section>
<section id="Filler">
    <div class="container">
       <div class="row">
         <h2 div="mainPageHeaders">Our Mission</h2>
          <p>
                  Krumpin 4 Success, Inc. is a youth organization dedicated to decreasing risk-taking behaviors & youth 
                  recidivism through providing creative, activities and promoting academic stability, economic sufficiency,
                  positive mental health and successful transition to productive citizenship. Krumpin 4 Success caters to 
                  youth between the ages of 13-24
          </p>
              <h2 div="mainPageHeaders">Our Vision</h2>
              <p>
              Krumpin 4 Success, Inc.'s Vision is to become the leading youth organization, which will encourage, equip,
              empower and enhance youths' foundation for life while promoting both college and career.
           </p>
              <h2 div="mainPageHeaders">Our Core values</h2>
              <p>
                  UNITY,  TRUST,  RESPECT,  SELF-ESTEEM,  INTEGRITY, CONSISTENCY
              </p>
       </div>
    </div>
</section>