# Ignore build output directories
bin/
obj/


# User-specific files
.vs/
.vscode/
.idea/

# Ignore NuGet packages and configurations
packages/
.nuget/

# Ignore log and temporary files
*.log
*.tmp
*.bak
*.swp

# Ignore compiled binaries and symbols
*.dll
*.exe
*.pdb

# Ignore database models
*.dbmdl

.fake
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CS395SI_Spring2023_Group1/.vs/CS395SI_Spring2023_Group1/FileContentIndex/064c8712-65c3-43c0-bbe6-dfb456036d3f.vsidx
/CS395SI_Spring2023_Group1/.vs/CS395SI_Spring2023_Group1/FileContentIndex/f9d585fa-b3f9-4f84-be10-0bd87834f7da.vsidx
/CS395SI_Spring2023_Group1/.vs/CS395SI_Spring2023_Group1/FileContentIndex/10564486-b2b8-4ebc-8666-5126c18d15d3.vsidx
/CS395SI_Spring2023_Group1/.vs/CS395SI_Spring2023_Group1/FileContentIndex/8bafdb29-647b-4c27-b0db-c2d63bd70f65.vsidx
*.vsidx

# Ignore Visual Studio Code workspace settings
.vscode/settings.json

# Omit project-specific files and configurations like
CS395SI_Spring2025_Group3/appsettings.json
