################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CS395SI_Spring2023_Group1/.vs/CS395SI_Spring2023_Group1/FileContentIndex/064c8712-65c3-43c0-bbe6-dfb456036d3f.vsidx
