@page
@model CS395SI_Spring2023_Group1.Pages.Session.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Spring2024_Group2_Session</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Spring2024_Group2_Session.ServiceID" class="control-label"></label>
                <input asp-for="Spring2024_Group2_Session.ServiceID" class="form-control" />
                <span asp-validation-for="Spring2024_Group2_Session.ServiceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spring2024_Group2_Session.ServiceName" class="control-label"></label>
                <input asp-for="Spring2024_Group2_Session.ServiceName" class="form-control" />
                <span asp-validation-for="Spring2024_Group2_Session.ServiceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spring2024_Group2_Session.SectionID" class="control-label"></label>
                <input asp-for="Spring2024_Group2_Session.SectionID" class="form-control" />
                <span asp-validation-for="Spring2024_Group2_Session.SectionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spring2024_Group2_Session.MeetingDate" class="control-label"></label>
                <input asp-for="Spring2024_Group2_Session.MeetingDate" class="form-control" />
                <span asp-validation-for="Spring2024_Group2_Session.MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spring2024_Group2_Session.StartTime" class="control-label"></label>
                <input asp-for="Spring2024_Group2_Session.StartTime" class="form-control" />
                <span asp-validation-for="Spring2024_Group2_Session.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spring2024_Group2_Session.EndTime" class="control-label"></label>
                <input asp-for="Spring2024_Group2_Session.EndTime" class="form-control" />
                <span asp-validation-for="Spring2024_Group2_Session.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spring2024_Group2_Session.Status" class="control-label"></label>
                <input asp-for="Spring2024_Group2_Session.Status" class="form-control" />
                <span asp-validation-for="Spring2024_Group2_Session.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
