@page
@model CS395SI_Spring2023_Group1.Pages.Schedules.CreateModel

@{
    ViewData["Title"] = "Create";

}

<h1>Create</h1>

<h4>Spring2023_Group1_Schedules</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Spring2023_Group1_Schedules.Email" class="control-label"></label>
                <input asp-for="Spring2023_Group1_Schedules.Email" class="form-control" />
                <span asp-validation-for="Spring2023_Group1_Schedules.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spring2023_Group1_Schedules.ServiceID" class="control-label"></label>
                <input asp-for="Spring2023_Group1_Schedules.ServiceID" class="form-control" />
                <span asp-validation-for="Spring2023_Group1_Schedules.ServiceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spring2023_Group1_Schedules.SectionID" class="control-label"></label>
                <input asp-for="Spring2023_Group1_Schedules.SectionID" class="form-control" />
                <span asp-validation-for="Spring2023_Group1_Schedules.SectionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spring2023_Group1_Schedules.ScheduleStatus" class="control-label"></label>
                <input asp-for="Spring2023_Group1_Schedules.ScheduleStatus" class="form-control" />
                <span asp-validation-for="Spring2023_Group1_Schedules.ScheduleStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
